body{
    position: relative;
    width: 100%;
    height: 100%;
}
html, body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
body::-webkit-scrollbar-thumb {
    background-color: #fcfcfc;
    outline: 1px solid white;
}
nav{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: #e6e6e6;
}
nav ul {
    background: #fcfcfc;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
    height: 100px;
    color: black;
    padding-top:3%;
    padding-right: 5%;
}
nav ul li{
    float: right;
    color: #000000;
    margin-right: 2%; 
    left: 1319px;
}
nav ul li:hover a{
    color:#462B45;
    font-weight: bold;
}
nav ul li a{
    display: block;
    margin-left: 10px;   
	padding: 5px;
	color: #757575;
	text-decoration: none;
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}
.full{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    
}
 .kiri{
    width: 40%;
    margin-left: 6%;
    margin-top:25%;
    border: 1px solid #e6e6e6;
    height: 55%;
    float:left;
    background-color: #ffffff;
    border-radius: 7px;
}
.kanan{
    width: 40%;
    height: 55%;
    background-color: #ffffff;
    float:right;
    border: 1px solid #e6e6e6;
    margin-top:25%;
    margin-right:6%;
    border-radius: 7px;
}
.gambarkanan{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 800px;
    top:  370px;    
}
.gambarkiri{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 150px;
    top:  370px;
}
.pertama{
    position: absolute;
    width: 800px;
    height: 156px;
    left: 370px;
    top: 150px;
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 78%;        
}
.ketiga{
    position: absolute;
    width: 179px;
    height: 62px;
    left: 290px;
    top: 650px;
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
}
.paragraf{
    position: absolute;
    width: 655px;
    height: 90px;
    left: 370px;
    top: 210px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #111111;
}
.paragraf3{
    position: absolute;
    width: 500px;
    height: 90px;
    left: 100px;
    top: 690px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #414141;
}
.akun{
    position: absolute;
    width: 101px;
    height: 36px;
    left: 1270px;
    top: 50px;
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    color: #757575;
}
.kedua{
    position: absolute;
    width: 179px;
    height: 62px;
    left: 910px;
    top: 650px;
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
}
.paragraf2{
    position: absolute;
    width: 500px;
    height: 90px;
    left: 750px;
    top: 690px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #414141;
}
.baca{
    width: 220px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    top: 120px;
    left: 1110px;
    position: absolute;
    line-height: 100%;
    font-weight: bold;
    font-size: 18px;
    border: 0px solid;
    border-radius: 7px;
}
.notifikasi{
    width: 300px;
    height: 40px;
    color: #555555;
    left: 100px;
    top: 138px;
    position: absolute;
    line-height: 100%;
    font-weight: bold;
    line-height: 100%;
    font-size: 24px;
}